YOUR_PHONE=+18016358462
GMAIL_USER=gsbhatti1@gmail.com
GMAIL_APP_PASSWORD=hoptgucxwvjnpmom
TMOBILE_GATEWAY=8016358462@tmomail.net
BACKBLAZE_KEY_ID=61315a86157e
BACKBLAZE_APP_KEY=005f86119412eba43003f9664c460d3de63c12ada8
BACKBLAZE_BUCKET=gsb-100-backup
DB_PATH=C:/gsb-100/data/brain.db
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=deepseek-r1:32b
N8N_PORT=5678
N8N_BASIC_AUTH_USER=gsbhatti1@yahoo.com
N8N_BASIC_AUTH_PASSWORD=Gsbrealtor2024!
WHATSAPP_PHONE=8016358462
WHATSAPP_APIKEY=6638241